@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


body{
    
    
    background-image: url("../img/1236.png" );
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 6em;
}

.form-container{    
    background-color:white ;
    border-radius: 3em;
    margin: 8em 15em 0;
    padding: 5em 1em 2em;
    box-shadow: -3px 3px 0px 4px #B5B2B7;
    border-radius: 3em 0 3em 0;
}

#maiin{
    color: #707070;

}


input[type=text]{
    border: none;
    border-bottom: 1px solid #707070;
    outline: none;
       
}


input[type=password]{
    border: none;
    border-bottom: 1px solid #707070;
    outline: none;
}

.btn.btn-primary{
    border: none;
    border-radius: 3em;
    color: white;
    background-color: #43458A;
    padding: 7px 32px;
    
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 13em;
    height: 3em;
    text-align: center;
    cursor: pointer;
}








   
    

